In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
df=pd.read_csv('carprices.csv')
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [4]:
df.groupby('Car Model').mean()

                       Mileage  Sell Price($)  Age(yrs)
Car Model
Audi A5                68500.0        23175.0      6.00
BMW X5                 45900.0        29920.0      4.00
Mercedez Benz C class  72000.0        24000.0      6.25

In [5]:
#using pandas 
dummies = pd.get_dummies(df['Car Model'])
dummies

    Audi A5  BMW X5  Mercedez Benz C class
0     False    True                  False
1     False    True                  False
2     False    True                  False
3     False    True                  False
4     False    True                  False
5      True   False                  False
6      True   False                  False
7      True   False                  False
8      True   False                  False
9     False   False                   True
10    False   False                   True
11    False   False                   True
12    False   False                   True

In [6]:
merged = pd.concat([df,dummies] , axis='columns')
merged

,Car Model,Mileage,Sell Price($),Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
0,BMW X5,69000,18000,6,False,True,False
1,BMW X5,35000,34000,3,False,True,False
2,BMW X5,57000,26100,5,False,True,False
3,BMW X5,22500,40000,2,False,True,False
4,BMW X5,46000,31500,4,False,True,False
5,Audi A5,59000,29400,5,True,False,False
6,Audi A5,52000,32000,5,True,False,False
7,Audi A5,72000,19300,6,True,False,False
8,Audi A5,91000,12000,8,True,False,False
9,Mercedez Benz C class,67000,22000,6,False,False,True
10,Mercedez Benz C class,83000,20000,7,False,False,True
11,Mercedez Benz C class,79000,21000,7,False,False,True
12,Mercedez Benz C class,59000,33000,5,False,False,True

In [7]:
merged =merged.drop(['Car Model'] ,axis='columns')
merged

    Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5  Mercedez Benz C class
0     69000          18000         6    False    True                  False
1     35000          34000         3    False    True                  False
2     57000          26100         5    False    True                  False
3     22500          40000         2    False    True                  False
4     46000          31500         4    False    True                  False
5     59000          29400         5     True   False                  False
6     52000          32000         5     True   False                  False
7     72000          19300         6     True   False                  False
8     91000          12000         8     True   False                  False
9     67000          22000         6    False   False                   True
10    83000          20000         7    False   False                   True
11    79000          21000         7    False   False                   True
12    59000          33000         5    False   False                   True

In [8]:
x = merged.drop(['Sell Price($)' , 'Mercedez Benz C class'] , axis='columns')
y = merged['Sell Price($)']

In [9]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [10]:
model.fit(x,y)

LinearRegression()

In [11]:
model.coef_

array([-3.70122094e-01, -1.33245363e+03, -2.45354074e+03, -6.73820733e+03])

In [12]:
model.score(x,y)

0.9417050937281082

In [13]:
model.intercept_

58976.625968537235

In [22]:
# using sklearn
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df=pd.read_csv('carprices.csv')
dfle=df
dfle

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5


dfle['Car Model'] =le.fit_transform(dfle['Car Model'])
dfle

In [24]:
x=dfle.drop(['Sell Price($)'] , axis='columns' ).values
x

array([['BMW X5', 69000, 6],
       ['BMW X5', 35000, 3],
       ['BMW X5', 57000, 5],
       ['BMW X5', 22500, 2],
       ['BMW X5', 46000, 4],
       ['Audi A5', 59000, 5],
       ['Audi A5', 52000, 5],
       ['Audi A5', 72000, 6],
       ['Audi A5', 91000, 8],
       ['Mercedez Benz C class', 67000, 6],
       ['Mercedez Benz C class', 83000, 7],
       ['Mercedez Benz C class', 79000, 7],
       ['Mercedez Benz C class', 59000, 5]], dtype=object)

In [26]:
y =dfle['Sell Price($)'].values
y

array([18000, 34000, 26100, 40000, 31500, 29400, 32000, 19300, 12000,
       22000, 20000, 21000, 33000], dtype=int64)

In [35]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('Car Model' , OneHotEncoder() ,[0] )] , remainder='passthrough')

In [37]:
x=ct.fit_transform(x)
x

array([[0.0, 1.0, 0.0, 69000, 6],
       [0.0, 1.0, 0.0, 35000, 3],
       [0.0, 1.0, 0.0, 57000, 5],
       [0.0, 1.0, 0.0, 22500, 2],
       [0.0, 1.0, 0.0, 46000, 4],
       [1.0, 0.0, 0.0, 59000, 5],
       [1.0, 0.0, 0.0, 52000, 5],
       [1.0, 0.0, 0.0, 72000, 6],
       [1.0, 0.0, 0.0, 91000, 8],
       [0.0, 0.0, 1.0, 67000, 6],
       [0.0, 0.0, 1.0, 83000, 7],
       [0.0, 0.0, 1.0, 79000, 7],
       [0.0, 0.0, 1.0, 59000, 5]], dtype=object)

In [39]:
x=x[:,1:]
x

array([[1.0, 0.0, 69000, 6],
       [1.0, 0.0, 35000, 3],
       [1.0, 0.0, 57000, 5],
       [1.0, 0.0, 22500, 2],
       [1.0, 0.0, 46000, 4],
       [0.0, 0.0, 59000, 5],
       [0.0, 0.0, 52000, 5],
       [0.0, 0.0, 72000, 6],
       [0.0, 0.0, 91000, 8],
       [0.0, 1.0, 67000, 6],
       [0.0, 1.0, 83000, 7],
       [0.0, 1.0, 79000, 7],
       [0.0, 1.0, 59000, 5]], dtype=object)

In [42]:
model.fit(x,y)

LinearRegression()

In [43]:
model.predict([[0.0 ,1.0 ,45000 ,4]])

array([36991.31721062])

In [44]:
model.predict([[1.0 ,0.0 ,86000,7]])

array([11080.74313219])

In [46]:
model.score(x,y)

0.9417050937281082

In [47]:
import pickle

In [48]:
with open('task 27' ,'wb')  as file:
    pickle.dump(model,file)

In [51]:
with open('task 27' , 'rb') as file:
    mymodel=pickle.load(file)

In [52]:
mymodel.coef_

array([-4.28466659e+03,  2.45354074e+03, -3.70122094e-01, -1.33245363e+03])

In [53]:
mymodel.intercept_

56523.08523128701